body{
  margin: 0px;
  padding: 0px;
}


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: rgb(252, 252, 252);

}

.card img{
  height: 300px;
  border-radius: 40px;
}

.container{
  background: linear-gradient(225deg, #231f20, #d22c4e);
  display: flex;
  flex-direction: row;
  gap: 20px;
margin: 10px;
}