body{
  margin: 0px;
  padding: 0px;
}


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.card img{
  height: 300px;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 20px;
margin: 10px;
}