*{
  box-sizing: 0;
  padding: 0;
  margin: 0;
  /* background-color: brown;
  text-align: left; */
}

body{
  padding: 40px;
  background-color: #a76106;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  color: #f3f3f3;
  text-align: center;
  font-size: 48px;
}

.card-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}
.card{
      border: 1px solid #4b625e;
      padding: 20px;
      margin: 10px;
      background-color: #2d610a;
      border-radius: 10px;
      min-height: 100px;
    
}

button{
  border: none;
  font-size: 30px;
background-color: transparent;
width: 100%;
text-align: right;
cursor: pointer;
}